name: "Build Release"
on:
  push:
    tags:
      - "[0-9]+.[0-9]+.[0-9]+-[0-9]+.[0-9]+.[0-9]+"
      - "[0-9]+.[0-9]+-[0-9]+.[0-9]+.[0-9]+"
jobs:
  build-release:
    uses: StrikerRockers-Mods/.github/.github/workflows/build-release-v2.yml@main
    secrets: inherit
    with:
      forge-cf-id: 272637
      fabric-cf-id: 272637
      modrinth-id: 5DJpA9qi
      forge-dependencies: |
            jei | recommends | *
      fabric-dependencies: |
            fabric-api | depends | *
            cloth-config | depends | *
            modmenu | recommends | *
